<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>error</title>
    </head>
    <body>
        <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class = "section">
            <h2>INPUT ERROR: {{ message }} <a href="/">Retry.</a> </h2>
        </div>
    </body>
</html>